<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <RollingFile name="RollingAppender" fileName="logs/customer-service.log" filePattern="logs/customer-service-%d{MM-dd-yyyy}.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="RollingAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>